.wrapper {
  margin: 72px 0;
}

.title {
  margin-bottom: 48px;

  font-family: 'Bebas Neue';
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}

.containerNewReleasesBooks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-bottom: 72px;
}

@media (max-width: 991px) {
  .title {
    font-size: 48px;
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  .wrapper {
    margin: 20px 0;
  }
  .title {
    font-size: 35px;
    margin-bottom: 15px;
  }
}
