.wrapper {
  margin: 72px 0;
}

.title {
  margin-bottom: 48px;

  font-family: 'Bebas Neue';
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}

.containerNewReleasesBooks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
