.newsletter {
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 72px;

    padding: 56px 64px;
    background-color: #F4EEFD;
}
.newsletter__title {
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}
.newsletter__description {
    font-family: 'DIN Pro';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.newsletter__form {
    height: 56px;
    display: flex;
}
.newsletter__formInput {
    width: 823px;
    padding-left: 24px;

    border: none;
}
.newsletter__formButton {
    width: 169px;

    background-color: black;
    border: none;
    color: #fff;
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
}
.newsletter__formInput::-webkit-input-placeholder,
.newsletter__formInput::-moz-placeholder {
    font-family: 'DIN Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 991px) {
    .newsletter {
        padding: 25px 35px;
    }
    .newsletter__formInput {
        width: 80%;
        padding-left: 18px;
    }
    .newsletter__formButton {
        width: 20%;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .newsletter {
        height: 108px;
        margin-bottom: 20px;
        padding: 20px;
    }
    .newsletter__title {
        font-size: 20px;
        line-height: 8px;
    }
    .newsletter__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
    .newsletter__form {
        height: 28px;
    }
    .newsletter__formButton {
        font-size: 9px;
    }
}