.book__card {
  cursor: pointer;
}

.books__book {
  height: 453px;
  width: 352px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 49px;
}

.books__book:last-child {
  margin-bottom: 72px;
}

.books__photoContainer {
  height: 264px;
  margin-bottom: 20px;

  background-color: #D7E4FD;
}

.books__photo img {
  height: 264px;
  width: 226px;
  display: block;
  margin: 0 auto;
}

.books__title {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.books__subTitle {
  /*font-family: 'Bebas Neue';*/
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.books__authors {
  font-family: 'Helios';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A8A8A8;
}

.books__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.books__priceTitle {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.books__stars {
  width: 112px;
  letter-spacing: 4px;
  font-size: 18px;
}

.books__greyStar {
  color: #D0D0D0;
}