.copyright {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #E7E7E7;
  font-family: 'Helios';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A8A8A8;
}
@media (max-width: 767px) {
  .copyright {
    height: 40px;
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  .copyright {
    height: 20px;
    font-size: 9px;
  }
}