.search__form {
    height: 56px;
    width: calc(542px - 36px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;

    border: 1px solid #E7E7E7;
}

.search__form img {
    padding: 0 16px;
}

.search__input {
    width: 95%;
    height: 95%;
    border: none;
    outline: none;

    font-family: 'Helios';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.search__input:focus::-webkit-input-placeholder {
    color: transparent;
}

@media (max-width: 991px) {
    .search__form {
        width: calc(368px - 36px);
    }
}
@media (max-width: 767px) {
    .search__form {
        width: calc(220px - 36px);
        padding: 0 9px;
    }
}
@media (max-width: 479px) {
    .search__form {
        display: none;
    }
}
