.book__arrowLongLeft {
    margin: 72px 0 32px 0;
}

.book__title {
    margin-bottom: 48px;

    font-family: "Bebas Neue";
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.book__information {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.photo__container {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    width: 544px;
    height: 472px;
    margin: 0;

    background-color: #FEE9E2;
}

.photo__like {
    width: 56px;
    height: 56px;

    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #313037;
}

.photo img {
    display: flex;

    width: 300px;
    height: 350px;
    margin: 0 auto;
}

.book__details {
    width: 448px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 72px;

    border-top: 1px solid #E7E7E7;
}

.details__price {
    display: flex;
    justify-content: space-between;

    margin: 40px 0 24px 0;
}

.details__priceTitle {
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.details__stars {
    margin: auto 0;
    font-size: 14px;
    letter-spacing: 3px;
}

.details__greyStar {
    color: #D0D0D0;
}

.details__description {
    display: flex;
    justify-content: space-between;
    font-family: 'Helios';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.details__descriptionTitle {
    color: #A8A8A8;
}

.details__moreDetails {
    display: flex;
    align-items: center;
    margin: 16px 0 59px 0;
}

.moreDetails__title {
    margin-right: 8px;

    font-family: 'Helios';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.moreDetails__arrowToDown img {
    display: flex;
}

.details__addToCart {
    width: 448px;
    height: 56px;
    margin-bottom: auto;

    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;

    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;

}

.details__previewBook {
    display: flex;
    justify-content: center;

    font-family: 'Helios';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    cursor: pointer;
}

.book__detailedDescription {
    width: 100%;
    height: 49px;

    display: flex;
    margin-bottom: 48px;
    border-bottom: 1px solid #E7E7E7;;
}

.detailedDescription__title {
    width: 161px;
    height: 100%;
    text-align: center;

    cursor: pointer;
}

.detailedDescription__title:active {
    border-bottom: 2px solid black;
}

.description__text {
    margin-bottom: 48px;
}

.socialNetworks__icons {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 72px;
}

.socialNetworks__dots {
    display: flex;
}

.socialNetworks__dot {
    width: 4px;
    height: 4px;

    background-color: black;
    border-radius: 2px;
}

.socialNetworks__dot:not(:first-child) {
    margin-left: 3px;
}

.similarBooks {
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    margin-bottom: 72px;
}

.similarBooks__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.similarBooks__title {
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.similarBooks__arrows {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.similarBooks__bookColumns {
    display: flex;
    justify-content: space-between;
}

.bookColumns__book {
    height: 453px;
    width: 352px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookColumns__photoContainer {
    height: 264px;
    margin-bottom: 20px;

    background-color: #D7E4FD;
}

.bookColumns__photo img {
    height: 264px;
    width: 226px;
    display: block;
    margin: 0 auto;
}

.bookColumns__title {
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.bookColumns__authors {
    font-family: 'Helios';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A8A8A8;
}

.bookColumns__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookColumns__priceTitle {
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.bookColumns__stars {
    width: 112px;
    letter-spacing: 4px;
    font-size: 18px;
}

.bookColumns__greyStar {
    color: #D0D0D0;
}

@media (max-width: 1199px) {
    .photo__container {
        margin-right: 30px;
    }

    .bookColumns__book {
        margin-right: 20px;
    }

    .bookColumns__book:last-child {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .book__arrowLongLeft {
        margin: 15px 0 25px 0;
    }

    .photo__container {
        width: 300px;
        height: 390px;
        margin-right: 30px;
    }

    .book__title {
        margin-bottom: 28px;
        font-size: 38px;
    }
    .photo__like {
        width: 40px;
        height: 40px;
    }
    .photo__like svg {
        width: 18px;
        height: 18px;
    }
    .book__details {
        width: 385px;
        height: 390px;
        margin-bottom: 45px;
    }
    .details__priceTitle {
        font-size: 32px;
    }
    .details__price {
        margin: 0;
    }
    .details__addToCart {
        width: 350px;
        height: 40px;
        font-size: 18px;
    }
    .details__moreDetails {
        margin: 15px 0 30px 0;
    }
}
@media (max-width: 767px) {
    .book__information {
        flex-direction: column;
    }
    .similarBooks {
        display: none;
    }
}
@media (max-width: 479px) {
    .book__arrowLongLeft {
        margin: 10px 0 0 0;
    }
    .book__title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .photo img {
        width: 250px;
        height: 300px;
    }
    .photo__container {
        width: 280px;
        height: 340px;
        margin-right: 0;
    }
    .book__details {
        width: 280px;
        height: 268px;
        margin-bottom: 26px;
    }
    .details__priceTitle {
        font-size: 24px;
    }
    .details__description {
        font-size: 12px;
        line-height: 24px;
    }
    .moreDetails__title {
        font-size: 12px;
    }
    .moreDetails__arrowToDown svg {
        width: 12px;
        height: 12px;
    }
    .details__addToCart {
        width: 278px;
        height: 30px;
        font-size: 14px;
    }
    .details__moreDetails {
        margin: 15px 0 10px 0;
    }
    .details__previewBook {
        font-size: 12px;
    }
    .book__detailedDescription {
        height: 30px;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .description__text {
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 16px;
    }
    .socialNetworks__icons {
        width: 90px;
        margin-bottom: 15px;
    }
    .socialNetworks__icons svg {
        width: 16px;
        height: 16px;
    }
}



